@page "{id:long}"
@model BuildingPage
@inject ForgeService ForgeService
@{
    ViewData["Title"] = "Clădire";
}

<div class="position-relative">
    <div id="building-viewer-container"></div>
</div>

<script src="~/js/viewer.js"></script>
<script>
    const accessToken = "@ForgeService.PublicToken";
    const element = document.getElementById("building-viewer-container");
    const urn = "@Model.Urn";

    createViewer(accessToken, element, urn);
</script>
