@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Smart City Planner</h1>
    <p><a class="btn btn-primary btn-lg" href="~/Map">Harta orașului</a></p>
</div>
