@page
@model MapModel
@{
    ViewData["Title"] = "Map";
}


<div id="mapid">
    <script>
        
	const mymap = L.map('mapid').setView([44.432720364400375, 26.104799260187548], 11.25);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 50,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

    let polygon = null;

    function model3D(id){
        window.location.href = `/BuildingBlock/${id}`;
    }

    @foreach (var block in Model.BuildingBlocks)
    {
        <text>
            polygon = L.polygon(@Html.Raw(block.Polygon.RawVertices)).addTo(mymap);
            polygon.on("click", () => model3D(@block.Id))
        </text>
    }

    mymap.on('click', function (clk) {
        var coord = clk.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        console.log("[ " + lat + ", " + lng + "]");
        });



        mymap.on('dblclick', function(dblclk){
            console.log(" ");
        });
    </script>
    @* Cluj: You clicked the map at latitude: 75.08980272811844 and longitude: -78.20472621891584 *@
    @* Jurilovca: You clicked the map at latitude: 74.714681752231 and longitude: -75.56622261083649*@
</div>
