@page
@model MapModel
@{
    ViewData["Title"] = "Map";
}


<div id="mapid">
    <script>
        
	const mymap = L.map('mapid').setView([44.432720364400375, 26.104799260187548], 11.25);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 50,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

    let polygon = null;

    function model3D(id){
        window.location.href = `/BuildingBlock/${id}`;
    }

    @foreach (var block in Model.BuildingBlocks)
    {
        <text>
            polygon = L.polygon(@Html.Raw(block.Polygon.RawVertices)).addTo(mymap);
            polygon.on("click", () => model3D(@block.Id))
        </text>
    }

    mymap.on('click', function (clk) {
        var coord = clk.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        console.log("[ " + lat + ", " + lng + "]");
        });

    var testData = {
        max: 30,
        data: [{lat: 44.43743191614689 , lng: 26.122715320762424 , count: 15.129861157910746 }, 
{lat: 44.43211999746671 , lng: 26.11449253053699 , count: 23.609469967155512 }, 
{lat: 44.45312622587741 , lng: 26.12140757293944 , count: 17.653036683655362 }, 
{lat: 44.40980726250479 , lng: 26.096053358095446 , count: 29.656895295951855 }, 
{lat: 44.416914019749875 , lng: 26.07075850115471 , count: 29.393453614987934 }, 
{lat: 44.4215388499983 , lng: 26.09707834991581 , count: 25.933611157622238 }, 
{lat: 44.4238680443177 , lng: 26.128584302133554 , count: 22.379667229401505 }, 
{lat: 44.432246235553585 , lng: 26.074794104985486 , count: 26.273736285400627 }, 
{lat: 44.44900079557573 , lng: 26.128929195156488 , count: 17.152934512403228 }, 
{lat: 44.4097878510121 , lng: 26.13610246242883 , count: 21.61483238894114 }, 
{lat: 44.4241290513911 , lng: 26.085398954634258 , count: 17.72080526119355 }, 
{lat: 44.44923734574853 , lng: 26.136275037471002 , count: 23.58736758842305 }, 
{lat: 44.425307457622004 , lng: 26.12566728659482 , count: 21.343932162925476 }, 
{lat: 44.420721675671416 , lng: 26.12020763941933 , count: 28.51359651486579 }, 
{lat: 44.440413556086554 , lng: 26.10902241846359 , count: 20.504079394739172 }, 
{lat: 44.41499392152583 , lng: 26.125398246534054 , count: 15.566230154511686 }, 
{lat: 44.44975232119921 , lng: 26.10429416336511 , count: 28.708391795018823 }, 
{lat: 44.449837587820475 , lng: 26.13067160033848 , count: 16.296482791645108 }, 
{lat: 44.44626574691252 , lng: 26.121832243188916 , count: 24.878938313793956 }, 
{lat: 44.414739046080506 , lng: 26.065123140643244 , count: 17.230134332870627 }, 
{lat: 44.41105052504306 , lng: 26.082760832421325 , count: 25.489384132570372 }, 
{lat: 44.45337417521335 , lng: 26.14123428875244 , count: 17.298731776949662 }, 
{lat: 44.4240592968387 , lng: 26.10295624063088 , count: 22.875591082333173 }, 
{lat: 44.45268769548385 , lng: 26.10910036668167 , count: 16.2866237874265 }, 
{lat: 44.44283314165355 , lng: 26.070841654045804 , count: 22.61377354895412 }, 
{lat: 44.44546486148919 , lng: 26.070849849619712 , count: 22.479576161627676 }, 
{lat: 44.4166756094063 , lng: 26.07138032277447 , count: 29.686864207311515 }, 
{lat: 44.426354289962944 , lng: 26.104627164055103 , count: 18.98234357391678 }, 
{lat: 44.45195657324391 , lng: 26.09260329933254 , count: 23.21492488311017 }, 
{lat: 44.43477539914275 , lng: 26.130300323260272 , count: 18.785152903814186 }, 
{lat: 44.412034547353656 , lng: 26.136922287440786 , count: 16.80538497627291 }, 
{lat: 44.4235853223513 , lng: 26.140123155079646 , count: 24.118370186988074 }, 
{lat: 44.4262494490654 , lng: 26.086979754818 , count: 22.92317980766906 }, 
{lat: 44.44420319969013 , lng: 26.098112932736008 , count: 15.265587620088713 }, 
{lat: 44.42911289319153 , lng: 26.094377933248047 , count: 25.52019983587763 }, 
{lat: 44.451127174042874 , lng: 26.111450773234097 , count: 27.34171303745768 }, 
{lat: 44.428899988454596 , lng: 26.12215352016865 , count: 29.87156997139606 }, 
{lat: 44.411405528634695 , lng: 26.092774898204183 , count: 19.06559774198315 }, 
{lat: 44.440596699933856 , lng: 26.105246683755436 , count: 28.314662976749403 }, 
{lat: 44.42897377723066 , lng: 26.065136161266054 , count: 16.87858316690287 }, 
{lat: 44.43701276508057 , lng: 26.12561705041765 , count: 22.64635657714222 }, 
{lat: 44.42517125537473 , lng: 26.067671364417258 , count: 26.46401176296221 }, 
{lat: 44.42405305312547 , lng: 26.128923092346877 , count: 23.59909122450601 }, 
{lat: 44.431325052843164 , lng: 26.098609023913262 , count: 28.48713068907143 }, 
{lat: 44.43596043030137 , lng: 26.138529096995246 , count: 21.04535178986886 }, 
{lat: 44.44363466479584 , lng: 26.111746247777027 , count: 28.620635317869848 }, 
{lat: 44.433127493452524 , lng: 26.080959471338737 , count: 17.44257046309345 }, 
{lat: 44.4517936110577 , lng: 26.100710596344026 , count: 26.910511437334964 }, 
{lat: 44.448448159926876 , lng: 26.08880441430466 , count: 17.984291408825676 }, 
{lat: 44.424812554194844 , lng: 26.138597304823826 , count: 22.03032822754504 }, 
{lat: 44.43315878445175 , lng: 26.13673477645631 , count: 24.121910805833117 }, 
{lat: 44.43975276412176 , lng: 26.081591171336584 , count: 23.909746333424586 }, 
{lat: 44.40956963527351 , lng: 26.114944603514154 , count: 24.919458851920403 }, 
{lat: 44.449826361396774 , lng: 26.127706694610627 , count: 19.386996361142913 }, 
{lat: 44.452908044586984 , lng: 26.091050074106995 , count: 27.117712063368927 }, 
{lat: 44.41709546652748 , lng: 26.11136252634764 , count: 16.53011271224705 }, 
{lat: 44.43177358541317 , lng: 26.11726854378893 , count: 17.68307111226139 }, 
{lat: 44.43444751993774 , lng: 26.13596820968413 , count: 20.445813091360762 }, 
{lat: 44.409455917250156 , lng: 26.11065550543471 , count: 25.8864055218543 }, 
{lat: 44.42231841105248 , lng: 26.068754585273492 , count: 24.20051842613703 }, 
{lat: 44.42749740722428 , lng: 26.110393153896105 , count: 19.914685481399733 }, 
{lat: 44.442869718195 , lng: 26.122868178108245 , count: 18.894336189709993 }, 
{lat: 44.4460948053688 , lng: 26.14184953680522 , count: 19.059747834039054 }, 
{lat: 44.41733884171505 , lng: 26.11404321254631 , count: 21.423836038729153 }, 
{lat: 44.433245021965064 , lng: 26.104207481727194 , count: 17.058015860819957 }, 
{lat: 44.42812410512431 , lng: 26.100996276248598 , count: 23.00260715994237 }, 
{lat: 44.44044967147201 , lng: 26.066747908198746 , count: 25.13054232748741 }, 
{lat: 44.430908777097024 , lng: 26.085343020980925 , count: 27.1057984555301 }, 
{lat: 44.42821735059967 , lng: 26.12213476299348 , count: 23.210924490868482 }, 
{lat: 44.42179331331513 , lng: 26.106653657472528 , count: 19.93674667623953 }, 
{lat: 44.41560770724327 , lng: 26.07174961980848 , count: 22.888502497778447 }, 
{lat: 44.4184222321398 , lng: 26.08608346564904 , count: 25.284860141007947 }, 
{lat: 44.41503690632817 , lng: 26.08880274605769 , count: 25.79700563175278 }, 
{lat: 44.425976099444725 , lng: 26.08168334238958 , count: 29.823173890976264 }, 
{lat: 44.448395952040464 , lng: 26.141090405543146 , count: 19.898823262705978 }, 
{lat: 44.42650189634089 , lng: 26.082829667120254 , count: 20.767379856834452 }, 
{lat: 44.434721581957604 , lng: 26.078686838556912 , count: 27.981343210014515 }, 
{lat: 44.40991469787751 , lng: 26.065555832104327 , count: 17.735354869628146 }, 
{lat: 44.421539365789464 , lng: 26.12640856534812 , count: 24.718475935936254 }, 
{lat: 44.41810500917194 , lng: 26.099681320936384 , count: 20.29731125430306 }, 
{lat: 44.42303149487116 , lng: 26.10404077359112 , count: 20.94780878484448 }, 
{lat: 44.41140075011725 , lng: 26.109413728943025 , count: 16.049771334907238 }, 
{lat: 44.434845244127935 , lng: 26.107398992443628 , count: 22.645175299889956 }, 
{lat: 44.449778224288615 , lng: 26.128649861621348 , count: 19.968081626474635 }, 
{lat: 44.41197011595355 , lng: 26.073857198809712 , count: 25.119846306562643 }, 
{lat: 44.44920626633475 , lng: 26.07302077239946 , count: 21.15620081562735 }, 
{lat: 44.40984831213085 , lng: 26.097703354381498 , count: 27.120617501015552 }, 
{lat: 44.44597411519716 , lng: 26.130749818733985 , count: 25.672174211188413 }, 
{lat: 44.426595021749684 , lng: 26.108911858871327 , count: 27.7195892263616 }, 
{lat: 44.427033008908104 , lng: 26.08358054845542 , count: 24.43259621610762 }, 
{lat: 44.410131046883 , lng: 26.08954296403368 , count: 23.091441496847224 }, 
{lat: 44.432708146360945 , lng: 26.078492815774204 , count: 29.70005072772486 }, 
{lat: 44.4476118930451 , lng: 26.088804030149543 , count: 24.448845648286095 }, 
{lat: 44.43710461052555 , lng: 26.09292779725012 , count: 23.47709341681348 }, 
{lat: 44.420085613779605 , lng: 26.1274446864549 , count: 16.369930954540738 }, 
{lat: 44.41251996589001 , lng: 26.08075738920176 , count: 19.151888543669344 }, 
{lat: 44.43140627312889 , lng: 26.079012786774637 , count: 25.859473174803437 }, 
{lat: 44.42638415126951 , lng: 26.13592814729271 , count: 29.711993172806007 }, 
{lat: 44.416231283932774 , lng: 26.141539039401504 , count: 28.265058438329856 }, 
{lat: 44.410289437692576 , lng: 26.1030772403995 , count: 15.939648259905853 }, 
{lat: 44.443362609006215 , lng: 26.068323811080184 , count: 28.2672930257751 }, 
{lat: 44.43458809256285 , lng: 26.11144227756143 , count: 18.983566295327392 }, 
{lat: 44.41216344481075 , lng: 26.10040513218481 , count: 18.250488421221107 }, 
{lat: 44.451498620528604 , lng: 26.071017960287307 , count: 18.770622222631044 }, 
{lat: 44.449448298584564 , lng: 26.128767208238415 , count: 17.64119397015467 }, 
{lat: 44.42474542433856 , lng: 26.127888392567364 , count: 23.188822474703883 }, 
{lat: 44.424514596811015 , lng: 26.11468792389223 , count: 22.891489075231767 }, 
{lat: 44.447699195493094 , lng: 26.092829699876162 , count: 18.9532262174802 }, 
{lat: 44.42738898126514 , lng: 26.101344877181774 , count: 23.172927375079034 }, 
{lat: 44.422343729511425 , lng: 26.064860994970278 , count: 26.748491019380584 }, 
{lat: 44.4527984384367 , lng: 26.084095901951173 , count: 19.202352444765694 }, 
{lat: 44.42488585788859 , lng: 26.10389692064582 , count: 24.17218245340389 }, 
{lat: 44.41734670789736 , lng: 26.125368106852527 , count: 22.566477642314396 }, 
{lat: 44.44070449425945 , lng: 26.118110313730078 , count: 15.514077289075615 }, 
{lat: 44.41817595392847 , lng: 26.141162918534793 , count: 15.874270796389618 }, 
{lat: 44.41629265191039 , lng: 26.07595739587879 , count: 26.617980993841634 }, 
{lat: 44.421965527193706 , lng: 26.100307173864636 , count: 20.38880526359292 }, 
{lat: 44.42107799855944 , lng: 26.13108759459952 , count: 22.735036621166337 }, 
{lat: 44.412058653039644 , lng: 26.12297244743004 , count: 27.374304498104756 }, 
{lat: 44.45332657831616 , lng: 26.082036186097024 , count: 20.155381971486314 }, 
{lat: 44.43094255412617 , lng: 26.079925504014284 , count: 17.814375394384708 }, 
{lat: 44.44368600319923 , lng: 26.137987738279158 , count: 25.627226527149624 }, 
{lat: 44.42718179673057 , lng: 26.13945659042392 , count: 16.239023601155367 }, 
{lat: 44.420707321486404 , lng: 26.139652180212067 , count: 23.59412070399578 }, 
{lat: 44.44015796746717 , lng: 26.092800956908178 , count: 23.639073080981845 }, 
{lat: 44.4199546291503 , lng: 26.095245416962417 , count: 26.5898255152891 }, 
{lat: 44.43970376577771 , lng: 26.118806555307827 , count: 23.73166265235129 }, 
{lat: 44.438037209562566 , lng: 26.135538248374125 , count: 19.354437187523413 }, 
{lat: 44.438358175510864 , lng: 26.10773883318224 , count: 29.376936819838974 }, 
{lat: 44.449945380378345 , lng: 26.079570248170374 , count: 22.101568357590537 }, 
{lat: 44.41881811178244 , lng: 26.117854388650432 , count: 19.678823730649256 }, 
{lat: 44.41543576050528 , lng: 26.06599444893974 , count: 20.03814779931146 }, 
{lat: 44.42627016617931 , lng: 26.112540873624017 , count: 21.86863440420538 }, 
{lat: 44.45010294847904 , lng: 26.122840949399748 , count: 22.843122721810253 }, 
{lat: 44.41425742743171 , lng: 26.095364511808512 , count: 23.76943744229858 }, 
{lat: 44.42613107508423 , lng: 26.065036677346594 , count: 15.320990169559023 }, 
{lat: 44.434815621009015 , lng: 26.07303035495858 , count: 27.11298758110624 }, 
{lat: 44.42514323982583 , lng: 26.089433288905724 , count: 16.854275141808607 }, 
{lat: 44.44707185487845 , lng: 26.09806450883595 , count: 17.129236849156378 }, 
{lat: 44.41393052073819 , lng: 26.122323740703788 , count: 23.508946375462678 }, 
{lat: 44.43384980366946 , lng: 26.122274259292404 , count: 28.27110128919533 }, 
{lat: 44.43538708203402 , lng: 26.080392540582288 , count: 20.08917931103713 }, 
{lat: 44.418777010770604 , lng: 26.07548235675593 , count: 20.66241987124582 }, 
{lat: 44.43654815353082 , lng: 26.14002509298665 , count: 15.88352150423204 }, 
{lat: 44.422133769864494 , lng: 26.068316149700546 , count: 29.743063859925698 }, 
{lat: 44.414543491707 , lng: 26.08564191389431 , count: 18.529690638738426 }, 
{lat: 44.443730004134636 , lng: 26.097649269534152 , count: 24.54335309420776 }, 
{lat: 44.43572085936985 , lng: 26.134014720049834 , count: 22.35129452888778 }, 
{lat: 44.43817726071772 , lng: 26.111094989672424 , count: 23.772216122719982 }, 
{lat: 44.41197087444857 , lng: 26.105495999227507 , count: 27.00629370480886 }, 
{lat: 44.435562520691946 , lng: 26.11972228050441 , count: 26.66471073096165 }, 
{lat: 44.40936912056074 , lng: 26.1077460105778 , count: 24.330976364341538 }, 
{lat: 44.44490220727397 , lng: 26.069261676617717 , count: 23.552806179485334 }, 
{lat: 44.452049014758984 , lng: 26.089520292281396 , count: 27.467044886876185 }, 
{lat: 44.431938040781425 , lng: 26.126644802073905 , count: 15.441654089674866 }, 
{lat: 44.411794148110204 , lng: 26.09150678989353 , count: 22.105373091786774 }, 
{lat: 44.45078362608138 , lng: 26.104352680186746 , count: 20.7644379914683 }, 
{lat: 44.41178502498839 , lng: 26.08543657216929 , count: 25.853867361394492 }, 
{lat: 44.42806766291919 , lng: 26.092527300699462 , count: 20.755797638568986 }, 
{lat: 44.43043476717858 , lng: 26.138708140866594 , count: 18.684312805319074 }, 
{lat: 44.43012478062201 , lng: 26.084033384217737 , count: 29.284966202259056 }, 
{lat: 44.42811837108995 , lng: 26.093430038445756 , count: 17.026158019248587 }, 
{lat: 44.41257162014676 , lng: 26.068627397653135 , count: 18.615941219515275 }, 
{lat: 44.43912222243182 , lng: 26.108240462010965 , count: 16.754547953140776 }, 
{lat: 44.41211385181471 , lng: 26.09325333261631 , count: 27.042417802592382 }, 
{lat: 44.44024151238221 , lng: 26.075470092039136 , count: 15.734842218847431 }, 
{lat: 44.42905754817524 , lng: 26.09245992508707 , count: 17.472719766251515 }, 
{lat: 44.4120383164212 , lng: 26.0891556485945 , count: 25.467428428082847 }, 
{lat: 44.43906794737035 , lng: 26.06783810137333 , count: 19.798443801296937 }, 
{lat: 44.41176619321812 , lng: 26.08022969275551 , count: 17.74266653104161 }, 
{lat: 44.43507279836118 , lng: 26.072345500356043 , count: 17.665633556195612 }, 
{lat: 44.41353473902492 , lng: 26.137283445856518 , count: 20.472525422621608 }, 
{lat: 44.427127262785135 , lng: 26.117209598250767 , count: 29.762651716667406 }, 
{lat: 44.412590178538814 , lng: 26.070842578970666 , count: 27.799413067988738 }, 
{lat: 44.42572150877284 , lng: 26.066606706412955 , count: 26.381334895461542 }, 
{lat: 44.45028196446127 , lng: 26.129468434441574 , count: 19.862811152806973 }, 
{lat: 44.439042609143094 , lng: 26.13931778657629 , count: 18.71656618375444 }, 
{lat: 44.42603409976894 , lng: 26.070888858615504 , count: 19.50730688016998 }, 
{lat: 44.43876217960895 , lng: 26.107427585952383 , count: 22.69144979288445 }, 
{lat: 44.42564925863324 , lng: 26.115549958997644 , count: 18.294758044021265 }, 
{lat: 44.410577732777845 , lng: 26.06636912374566 , count: 18.35447547912256 }, 
{lat: 44.43986968742095 , lng: 26.086744986162483 , count: 20.25247391836495 }, 
{lat: 44.43868711708403 , lng: 26.12771314617841 , count: 29.14289194330134 }, 
{lat: 44.42890678739984 , lng: 26.0735863831633 , count: 25.980286560082085 }, 
{lat: 44.426948676740466 , lng: 26.099879426627016 , count: 25.33010841867741 }, 
{lat: 44.414485617341576 , lng: 26.08079471892936 , count: 18.462486093466826 }, 
{lat: 44.43495133032042 , lng: 26.123719217463716 , count: 23.572971402429864 }, 
{lat: 44.43320380515188 , lng: 26.11696858425477 , count: 19.06446415616973 }, 
{lat: 44.45300623036436 , lng: 26.065229282690886 , count: 28.321604843577667 }, 
{lat: 44.436203779325204 , lng: 26.13574979390357 , count: 19.599191936561965 }, 
{lat: 44.42894189892968 , lng: 26.1022056282176 , count: 20.755628786807627 }, 
{lat: 44.427092163077106 , lng: 26.110646099061537 , count: 29.96167052051893 }, 
{lat: 44.41021583468585 , lng: 26.10848018549632 , count: 15.152102450932952 }, 
{lat: 44.42784376438118 , lng: 26.13965904201616 , count: 24.925576727197566 }, 
{lat: 44.45110560474889 , lng: 26.143099786751844 , count: 29.039925734668735 }, 
{lat: 44.42480674425929 , lng: 26.142852151466627 , count: 29.816572140899446 }, 
{lat: 44.435683675604594 , lng: 26.129321772428547 , count: 16.323202784560902 }, 
{lat: 44.4354672761334 , lng: 26.13907115095718 , count: 24.657895505541134 }, 
{lat: 44.452760580790645 , lng: 26.13560657438846 , count: 24.047360882108876 }, 
{lat: 44.452342138453545 , lng: 26.093262200351983 , count: 25.162149187836455 }, 
{lat: 44.43496622724455 , lng: 26.09017751447933 , count: 25.640077000471543 }]
    }; 
             
    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": .002,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": true,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": false,
        // which field name in your data represents the latitude - default "lat"
        latField: 'lat',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'lng',
        // which field name in your data represents the data value - default "value"
        valueField: 'count'
    };

    var heatmapLayer = new HeatmapOverlay(cfg).addTo(mymap);

    heatmapLayer.setData(testData)
    mymap.on('dblclick', function(dblclk){
        console.log(" ");
    });
    </script>
    @* Cluj: You clicked the map at latitude: 75.08980272811844 and longitude: -78.20472621891584 *@
    @* Jurilovca: You clicked the map at latitude: 74.714681752231 and longitude: -75.56622261083649*@
</div>
